<div ng-show="stories.comments.length">
    <h2>Comments for {{ story.title }}</h2>
    <ul>
        <li ng-repeat="item in stories.comments">
            {{ item.comment }}
        </li>
    </ul>
</div>

<div>
    <h2>Add a comment to {{ story.title }}</h2>
    <form ng-submit="addComment()" class="form-inline" role="form">
        <div class="form-group">
            <input type="text"ng-model="newComment" class="form-control" placeholder="Enter a comment">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
