<div class="page-header">
    <h1>haX0r News</h1>
    <h4>home to some pretty 1337 stories</h4>
</div>

<div class="col-md-8" ng-show="stories.length">
    <h3>Top stories:</h3>
    <ul>
        <li ng-repeat="item in stories">
            <a href="{{ storyLink }}">{{ item.title }}</a>
            <a ui-sref="stories.comments({ storyId: item.id })">Comments</a>
        </li>
    </ul>
</div>


<div class="col-md-4">
    <h3>Add a story</h3>
    <form ng-submit="addStory()" class="form-inline" role="form">
        <div class="form-group">
            <input type="text" ng-model="storyTitle" class="form-control" placeholder="Enter a title">
            <input type="url" ng-model="storyLink" class="form-control" placeholder="Enter a Link">
        </div>
        <button name="submit" class="btn btn-default">Submit</button>
    </form>
</div>
